doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title DOCKER SWARM TP
    link(rel='stylesheet', href='/stylesheets/index.css')
  
  body
    div#title
      h2 DOCKER SWARM TP
      h2 Andoni ALONSO TORT
      h2 Fouad TEKFA
    div#gralContainer
      div#leftContainer
        div.imageDocker
          img(src='/images/swarm.png', alt='Docker swarm')
        label(for='word') Mot a encrypter et desencrypter :
        input#word(type='text' placeholder="Entrez le mot a encrypter" style='width: 300px;')
        br
        label(for='mode') Mode:
        select#mode
          option(value='gentil') Gentil
          option(value='normal' selected='') Normal
          option(value='agressif') Agressif
        br
        button#btnDecrypt(onclick='sendRequest()') Generer decryptage
        div#loading
      div#rightContainer
        h2 Liste de hashes trouvés
          div#listHashes

  script(src='/library/jquery.js')
  script(src='/js/index.js')
